<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kop.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Added Internet permission, as the ML model may need to be downloaded on first run -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/kop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <!-- This is the main UI activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- FIX: Declared the new ProcessingActivity -->
        <!-- Using a NoActionBar theme makes it feel more like a dedicated processing screen -->
        <activity
            android:name=".ProcessingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--
          FIX: Added required meta-data for Google ML Kit.
          This tells the Google Play services to download the segmentation model
          when the app is installed.
        -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="segmentation_selfie" />

    </application>
</manifest>
